@media (min-width: 768px) {
  #menuBtn {
    display: none;
  }

  #menuNav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  section {
    border: 1px solid #ccc;
    padding: 1rem;
  }
}